<link rel="stylesheet" href="../sidebar/sidebar.css">
<script type="text/javascript" src="../sidebar/sidebar.js"></script>

<div id="sidebar">
    <div class="sidebarFrame">
        <% if (section === 'feed') { %>
            <div class="partyCategory selected">Feed</div>    
        <% } else { %>
            <div class="partyCategory" onmousedown="Core.navigate('/party/feed');">Feed</div>    
        <% } %>
        
        <% if (section === 'friends') { %>
            <div class="partyCategory selected">Friends</div>    
        <% } else { %>
            <div class="partyCategory" onmousedown="Core.navigate('/party/friends');">Friends</div>    
        <% } %>      

        <% if (section === 'rsvp') { %>
            <div class="partyCategory selected">RSVP</div>    
        <% } else { %>
            <div class="partyCategory" onmousedown="Core.navigate('/party/rsvp');">RSVP</div>    
        <% } %>      
                 
            
    </div>
</div>