<link rel="stylesheet" href="../privacy/privacy.css">
<script type="text/javascript" src="../privacy/privacy.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">
    <div class="privacy-container">
        <h2>Privacy Settings</h2>

        <div class="privacy-option">
            <label for="privacySwitch">Account Privacy:</label>
            <div class="switch">
                <input type="checkbox" id="privacySwitch" class="switch-input">
                <label class="switch-label" for="privacySwitch"></label>
            </div>
            <!-- Privacy Status Label -->
            <span id="privacyStatus" class="privacy-status">Public</span>
        </div>
    </div>
</div>
