<link rel="stylesheet" href="../privacy/privacy.css">
<script type="text/javascript" src="../privacy/privacy.js"></script>


<div id="container">
    <%- include('../sidebar/sidebar.ejs') %>

    <div id="formFrame">

    </div>
</div>