<link rel="stylesheet" href="../password/password.css">
<script type="text/javascript" src="../password/password.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">

    <div id="formFrame">

        <div class="formHeader">Password</div>

        <table class="formFields"> 
            <input id="userId" type="hidden" value="<%= user.id %>" /> 

            <tr>
                <td class="formFieldLabel">Current Password</td>
                <td>
                    <div style="position: relative">
                        <input id="currentPasswordTextbox" class="formField" type="password" autocomplete="false" />     
                        <i class="far fa-eye togglePassword" id="toggleCurrentPassword"></i>                                        
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><div id="currentPasswordErrorMessage" class="formFieldErrorMessage"></div></td>
            </tr>

            <tr>
                <td class="formFieldLabel">New Password</td>
                <td>
                    <div style="position: relative">
                        <input id="newPasswordTextbox" class="formField" type="password" autocomplete="false" />   
                        <i class="far fa-eye togglePassword" id="toggleNewPassword"></i>          
                    </div>
                          
                </td>
            </tr>
            <tr>
                <td></td>
                <td><div id="newPasswordErrorMessage" class="formFieldErrorMessage"></div></td>
            </tr>         
        </table>

        <div id="buttonBar">
            <a id="saveButton" class="button" href="#">Save Changes</a>
        </div>
    </div>
</div>