<!-- 
Creates and formats the Password screen
Author Jack Davy, Colby Roberts 
-->
<link rel="stylesheet" href="../password/password.css">
<script type="text/javascript" src="../password/password.js"></script>
<script type="text/javascript" src="../password/password-api.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>"/>

<div id="container">
    <div class="password-container">
        <h2>Password</h2>

        <form id="passwordForm" style="width: 350px;">
            <div class="form-group">
                <div id="inputBoxes-text">Current Password</div>
                <input class="inputBox" type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password" maxlength="128" onkeypress="return event.charCode != 32" >
                <div class="requirements" id="currentPasswordRequirements" style="display: none;">
                    <ul>
                        <li id="currentPasswordLoading" style="display: none;">
                            Password Correct
                            <div class="loading-GIF-outer">
                                <div class="loading-GIF-inner">
                                    <div></div>
                                </div>
                            </div> 
                        </li>
                        <li id="currentPasswordBad" style="color: var(--red-color); display: none;">
                            Password Correct
                            <div id="currentPasswordBadSVG" class="cross">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>
                            </div>
                        </li>
        
                        <li id="currentPasswordGood" style="color: var(--green-color); display: none;">
                            Password Correct
                            <div id="currentPasswordGoodSVG" class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div id="inputBoxes-text">New Password</div>
                <input class="inputBox" type="password" id="newPassword" name="newPassword" placeholder="Enter new password" style="cursor: not-allowed;"  maxlength="128" onkeypress="return event.charCode != 32" readonly>
                <div class="requirements" id="newPasswordRequirements" style="display: none;">
                    <ul>
                        <li id="newPasswordLengthBad" style="color: var(--red-color); display: none;">
                            New Password at least 6 characters
                            <div id="newPasswordLengthBadSVG" class="cross">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>
                            </div>
                        </li>
                        <li id="newPasswordLengthGood" style="color: var(--green-color); display: none;">
                            New Password at least 6 characters
                            <div id="newPasswordLengthGoodSVG" class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>
                            </div>
                        </li>
                        <li id="newPasswordAlphaBad" style="color: var(--red-color); display: none;">
                            Password contains at least one non-alpha character
                            <div id="newPasswordAlphaBadSVG" class="cross">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>
                            </div>
                        </li>
        
                        <li id="newPasswordAlphaGood" style="color: var(--green-color); display: none;">
                            Password contains at least one non-alpha character
                            <div id="newPasswordAlphaGoodSVG" class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>
                            </div>
                        </li>
                    </ul>
                </div>
                <input class="inputBox" type="password" id="newPassword-confirm" name="newPassword-confirm" placeholder="Confirm new password" style="cursor: not-allowed; margin-top: 2.5px;"  maxlength="128" onkeypress="return event.charCode != 32" readonly>
                <div class="requirements" id="newPasswordConfirmRequirements" style="display: none;">
                    <ul>
                        <li id="newPasswordConfirmBad" style="color: var(--red-color); display: none;">
                            New Passwords Match
                            <div id="newPasswordConfirmBadSVG" class="cross">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M23.707.293h0a1,1,0,0,0-1.414,0L12,10.586,1.707.293a1,1,0,0,0-1.414,0h0a1,1,0,0,0,0,1.414L10.586,12,.293,22.293a1,1,0,0,0,0,1.414h0a1,1,0,0,0,1.414,0L12,13.414,22.293,23.707a1,1,0,0,0,1.414,0h0a1,1,0,0,0,0-1.414L13.414,12,23.707,1.707A1,1,0,0,0,23.707.293Z"/></svg>
                            </div>
                        </li>
        
                        <li id="newPasswordConfirmGood" style="color: var(--green-color); display: none;">
                            New Passwords Match
                            <div id="newPasswordConfirmGoodSVG" class="check">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Save Changes Button -->
            <div class="form-group">
                <button type="button" id="saveButton" class="save-button">Save Changes</button>
            </div>
        </form>
    </div>
</div>
