<link rel="stylesheet" href="../password/password.css">
<script type="text/javascript" src="../password/password.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">
    <div class="password-container">
        <h2>Password</h2>

        <form id="passwordForm">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password">
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password">
            </div>

            <!-- Save Changes Button -->
            <div class="form-group">
                <button type="button" id="saveButton" class="save-button">Save Changes</button>
            </div>
        </form>
    </div>
</div>
