<link rel="stylesheet" href="../list/list.css">
<script type="text/javascript" src="../list/list.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">
    
</div>