<!-- 
Creates and formats the List screen
Author Colby Roberts 
-->
<link rel="stylesheet" href="../list/list.css">
<script type="text/javascript" src="../list/list.js"></script>
<script type="text/javascript" src="../list/list-api.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>"/>

<div id="container">
    <div style="margin-top: 100px; width: 100%; text-align: center;">
        <div class="loading-GIF-outer">
            <div class="loading-GIF-inner">
                <div></div>
            </div>
        </div>
    </div>
</div>