<link rel="stylesheet" href="../index/index.css">
<script type="text/javascript" src="../index/index.js"></script>

<div id="container">
    <div class="section" id="titleCard">
        <h1>PARTY HUB</h1>
        <div style="width: fit-content; margin: auto;">
            <span id="signUpButton" onmousedown="window.location.href = '/signup';" style="margin: 0;">JOIN NOW</span>
        </div>
    </div>
</div>