<link rel="stylesheet" href="../index/index.css">
<script type="text/javascript" src="../index/index.js"></script>

<div id="container">
        <div class="section" id="titleCard">
                <h1>PARTY HUB</h1>
                <span id="titleCard-signUpButton" onmousedown="window.location.href = '/signup';">JOIN NOW</span>
        </div>
</div>