.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    float: right;
    border-style: solid;
    margin-inline: 4px;
    background-color: white;
    text-decoration: none;
    border-radius: 4px;
}

.accept { 
    color: seagreen; 
    border-color: seagreen;
}
.decline {
    color: red; 
    border-color: red;
}

.accept:hover {
    color: white;
    background-color: seagreen;
}

.decline:hover {
    color: white;
    background-color: red;
}

.accept:active {
    background-color: darkgreen;
    border-color: darkgreen;
}

.decline:active {
    background-color: darkred;
    border-color: darkred;
}