<link rel="stylesheet" href="../friends/friends.css">
<script type="text/javascript" src="../friends/friends.js"></script>

<div id="container">

    <%- include('../sidebar/sidebar.ejs') %>
    
</div>