.column {
    float: left;
    width: calc(50% - 30px);
    margin-right: 30px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    float: right;
    border-style: solid;
    margin-inline: 4px;
    background-color: white;
    text-decoration: none;
    border-radius: 4px;
}

.accept { 
    color: seagreen; 
    border-color: seagreen;
}
.decline {
    color: red; 
    border-color: red;
}

.message {
    color: orchid;
    border-color: orchid;
}

.accept:hover {
    color: white;
    background-color: seagreen;
}

.decline:hover {
    color: white;
    background-color: red;
}

.message:hover {
    color: white;
    background-color: orchid;
}

.accept:active {
    background-color: darkgreen;
    border-color: darkgreen;
}

.decline:active {
    background-color: darkred;
    border-color: darkred;
}

.message:active {
    background-color: darkorchid;
    border-color: darkorchid;
}

.search {
    border: none;
    background-color: lightgray;
    border-radius: 4px;
    width: calc(100% - 12px);
    padding: 4px;
}