<link rel="stylesheet" href="../friends/friends.css">
<script type="text/javascript" src="../friends/friends.js"></script>

<%- include('../sidebar/sidebar.ejs') %>


<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">

    
</div>