/*
Establishes the styling for the CSS classes of the Feed screen
Author Jack Davy, Colby Roberts
*/
.feed-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    gap: 20px; 
    padding: 20px;
    margin-left: calc(var(--sidebar-width) + 20px); 
    margin-right: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.feed {
    flex: 3;
    max-width: 1000px; 
    padding: 20px;
}

.feed h2 {
    font-size: 36px;
    margin-top: -40px;
    margin-bottom: 20px;
    text-align: center;
}

.party-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    overflow-y: auto; 
    padding-top: 6px;
    align-items: center;
    height: calc(100% - 75px);
}

.party-item {
    width: calc(100% - 45px);
    /* background-color: #f9f9f9; */
    border: 1px solid var(--lighter-grey-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px linear-gradient(to bottom right, var(--blue-color), var(--pink-color)); 
    padding: 15px;
    cursor: pointer;
    position: relative;
    transform: translate(0);
    transform-style: preserve-3d;
}

.party-item:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

div.party-div {
    position: relative;
    width: 100%;
    min-height: 250px;
    cursor: pointer;
}

div.party-div:hover {
    transform: translateY(-5px);
}

div.party-div:hover div.party-shadow {
    background: linear-gradient(to bottom right, var(--blue-color), var(--pink-color)) !important;
    opacity: 1;
}

div.party-shadow {
    position: absolute;
    --shadow: 5px;
    top: var(--shadow);
    left: var(--shadow);
    width: calc(100% - calc(2 *  var(--shadow)));
    height: calc(100% - calc(2 *  var(--shadow)));
    background: black;
    opacity: 0.1;
    filter: blur(5px);
    border-radius: 15px;
}

div.party-shadow:hover {
    opacity: 1;
    background: linear-gradient(to bottom right, var(--blue-color), var(--pink-color)) !important;
}

div.party-container {
    position: absolute;
    --margin: 10px;
    top: var(--margin);
    left: var(--margin);
    width: calc(100% - calc(2* var(--margin)));
    height: calc(100% - calc(2* var(--margin)));
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
}

img.party-image {
    margin: 15px;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    visibility: visible;
}

div.party-textContainer {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: -webkit-fill-available;
    overflow: hidden;
    border-left: 1px solid var(--lighter-grey-color);
    margin-left: 0;
    padding-left: 15px;
}

span.party-title {
    font-weight: bold;
    font-size: 20px;
    color: var(--black-color);
}

div.party-subtitleContainer {
    display: flex;
    gap: 10px;
    color: var(--grey-color);
}

a.party-host, span.party-startTime, span.party-address, span.party-privacy {
    padding-right: 10px;
    border-right: 1px solid var(--lighter-grey-color);
}

a.party-host {
    color: var(--blue-color);
}

a.party-host:hover {
    color: var(--pink-color);
}

div.party-vibes {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    min-height: fit-content;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: flex-start;
}

div.host-vibes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: left;
}

div.host-vibe {
    color: var(--blue-color);
}

span.party-privacy {
    color: var(--blue-color);
} 

div.party-vibe {
    color: var(--blue-color);
    cursor: pointer;
}

div.party-vibe:hover, div.host-vibe:hover, span.party-privacy:hover {
    color: var(--pink-color);
}

span.party-description {
    text-align: justify;
    padding-right: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
}

div.host-div {
    display: flex;
    flex-direction: column;
}

div.host-main-container {
    display: flex;
    margin-bottom: 10px;
}

img.host-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid var(--lighter-grey-color);
}

div.host-main-info {
    display: flex;
    border-left: 1px solid var(--lighter-grey-color);
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

div.host-username {
    display: flex;
    align-items: center;
    gap: 10px;
}

span.host-username {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

span.host-description {
    text-align: justify;
    overflow: auto;
    text-overflow: ellipsis;
    width: calc(100% - 5px);
    padding-right: 5px;
    height: 115px;
}

div.host-follow, div.host-friend {
    white-space: nowrap;
    text-align: center;
    border: 1px solid var(--blue-color);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

div.host-follow {
    cursor: pointer;
}

div.host-follow:hover {
    background-color: var(--blue-color);
    color: white;
}

.sidebar-filters {
    position: relative;
    height: 100px;
    margin-bottom: 20px;
}

.sidebar-filters-shadow {
    position: absolute;
    --shadow: 5px;
    top: var(--shadow);
    left: var(--shadow);
    width: calc(100% - calc(2* var(--shadow)));
    height: calc(100% - calc(2* var(--shadow)));
    padding: 10px 0;
    background: black;
    opacity: 0.1;
    filter: blur(5px);
    border-radius: 15px
}

.sidebar-filters-container {
    position: absolute;
    --margin: 10px;
    top: var(--margin);
    left: var(--margin);
    width: calc(100% - calc(6* var(--margin)));
    height: calc(100% - calc(2* var(--margin)));
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sidebar-filters h3 {
    font-size: 20px;
}

.sidebar-filters select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.filter:hover {
    background-color: #f8f8fa;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loading-GIF-outer {
    margin: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: visible;
    background: none;
}

.loading-GIF-inner {
    margin-top: -12.5px;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.8);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

@keyframes loading-GIF-inner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading-GIF-inner div {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 10px solid rgb(64, 64, 64);
    /* var(--black-color); */
    border-top-color: transparent;
    border-radius: 50%;
}

.loading-GIF-inner div {
    animation: loading-GIF-inner 1s linear infinite;
    top: 50px;
    left: 50px
}

.loading-GIF-inner div {
    box-sizing: content-box;
}
