<link rel="stylesheet" href="../edit/edit.css">
<script type="text/javascript" src="../edit/edit.js"></script>

<div id="container">
    <div id="formFrame">

        <div class="formHeader">Edit</div>

        <div id="buttonBar">
            <a id="saveButton" class="button" href="#">Save</a>
        </div>
    </div>
</div>