/* global css goes here */

* { /* good set of colors for front end to use */
    --transparent-black-color: #000000bd; /* good for shadows and gradients going from black to transparent */
    --black-color: #2F3136; /* a good title font color */
	--grey-color: #505050; /* a good main body font color */
	--lighter-grey-color: #696969; /* good for subtitle font color */
	--light-color: #99AAB5; /* good for dividing lines/borders */
    --white-color: #e1e1e1; 
    --blue-color: #308CEA;
	--green-color: #0a0;
	--success-color: #5cb85c; /* green color a bit too green so need lower contrast green for a success color */
    --red-color: #9c0000; /* also viable for error colors */
    --orange-color: #CC7621;
    --purple-color: #909;
    --gold-color: #d4af37;
}

body {
    background-color: var(--white-color);
    color: var(--grey-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}