<link rel="stylesheet" href="./profile.css">
<script type="text/javascript" src="./profile.js"></script>

<div id="container">
    <%- include sidebar.ejs %>

    <div id="formFrame">

    </div>
</div>