<link rel="stylesheet" href="../profile/profile.css">
<script type="text/javascript" src="../profile/profile.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(2 * var(--sidebar-width))); margin-left: calc(var(--sidebar-width) + 30px); margin-top: 50px;">
    <div id="formFrame">
        <div class="profile-container">
            <!-- Profile Image Upload -->
            <div class="profile-picture">
                <label for="profileImageUpload">
                    <img src="/path/to/default-image.jpg" alt="Profile Picture" id="profileImage">
                </label>
                <input type="file" id="profileImageUpload" style="display: none;" onchange="previewImage(event)">
            </div>

            <!-- Profile Information Form -->
            <form id="profileForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" readonly>
                </div>
            
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="editable-container">
                        <input type="text" id="nameDisplay" placeholder="Name" readonly>
                        <button type="button" class="edit-button" data-target="nameDisplay">Edit</button>
                    </div>
                    <div id="splitNameContainer" style="display: none;">
                        <input type="text" id="firstName" name="firstName" placeholder="First Name">
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                    </div>
                </div>

                <!-- Profile Description Field -->
                <div class="form-group">
                    <label for="description">Profile Description</label>
                    <div class="editable-container">
                        <textarea id="description" name="description" placeholder="Description" readonly></textarea>
                        <button type="button" class="edit-button" data-target="description">Edit</button>
                    </div>
                </div>

                <!-- Profile Hashtags Field -->
                <div class="form-group">
                    <label for="hashtags">Profile Hashtags</label>
                    <div class="editable-container">
                        <input type="text" id="hashtags" name="hashtags" placeholder="#tag1, #tag2" readonly>
                        <button type="button" class="edit-button" data-target="hashtags">Edit</button>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" id="saveButton" class="save-button">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
