<link rel="stylesheet" href="../profile/profile.css">
<script type="text/javascript" src="../profile/profile.js"></script>

<div id="container">
    <%- include('../sidebar/sidebar.ejs') %>

    <div id="formFrame">

    </div>
</div>