<link rel="stylesheet" href="../profile/profile.css">
<script type="text/javascript" src="../profile/profile.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(2 * var(--sidebar-width))); margin-left: calc(var(--sidebar-width) + 30px); margin-top: 50px;">
    <div id="formFrame">
        <div class="profile-container">
            <!-- Profile Image Upload -->
            <div class="profile-picture">
                <label for="profileImageUpload">
                    <img src="/path/to/default-image.jpg" alt="Profile Picture" id="profileImage">
                </label>
                <input type="file" id="profileImageUpload" style="display: none;" onchange="previewImage(event)">
            </div>

            <!-- Profile Information Form -->
            <form id="profileForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name">
                </div>
                
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label for="description">Profile Description</label>
                    <textarea id="description" name="description" placeholder="Enter a short description"></textarea>
                </div>

                <div class="form-group">
                    <label for="hashtags">Profile Hashtags</label>
                    <input type="text" id="hashtags" name="hashtags" placeholder="#tag1, #tag2">
                </div>

                <div class="form-group">
                    <button type="button" id="saveButton" class="save-button">Save Changes</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
