<link rel="stylesheet" href="../profile/profile.css">
<script type="text/javascript" src="../profile/profile.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">

    <div id="formFrame">

    </div>
</div>