<link rel="stylesheet" href="../sidebar/sidebar.css">
<script type="text/javascript" src="../sidebar/sidebar.js"></script>

<div id="sidebar">
    <div class="sidebarFrame">
            
    </div>
</div>