<link rel="stylesheet" href="../create/create.css">
<script type="text/javascript" src="../create/create.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<div id="container" style="width: calc(100% - calc(var(--sidebar-width) + 30px)); margin-left: calc(var(--sidebar-width) + 30px);">
    
    <div id="formFrame">

        <div class="formHeader">Create</div>

        <div id="buttonBar">
            <a id="createButton" class="button" href="#">Create</a>
        </div>
    </div>
</div>