<link rel="stylesheet" href="./create.css">
<script type="text/javascript" src="./create.js"></script>

<div id="container">
    <div id="formFrame">

        <div class="formHeader">Create</div>

        <div id="buttonBar">
            <a id="createButton" class="button" href="#">Create</a>
        </div>
    </div>
</div>