<link rel="stylesheet" href="./login.css">
<script type="text/javascript" src="./login.js"></script>

<div id="container">
    <div id="formFrame">

        <div class="formHeader">Login</div>

        <div id="buttonBar">
            <a id="loginButton" class="button" href="#">Login</a>
        </div>
    </div>
</div>