
<link rel="stylesheet" href="../rsvp/rsvp.css">
<script type="text/javascript" src="../rsvp/rsvp.js"></script>
<script type="text/javascript" src="../rsvp/rsvp-api.js"></script>

<%- include('../sidebar/sidebar.ejs') %>

<input id="userId" type="hidden" value="<%= user.id %>" /> 

<div id="container">
    <div class="rsvp-feed">
        <div id="upcomingParties-container">
            <h2>Upcoming Parties</h2>
            <div class="party-list scrollable" id="upcomingParties">
                <div class="loading-GIF-outer">
                    <div class="loading-GIF-inner">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="pastParties-container">
            <h2>Past Parties</h2>
            <div class="party-list scrollable" id="pastParties">
                <div class="loading-GIF-outer">
                    <div class="loading-GIF-inner">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
