<!-- 
Creates and formats the Unauthorized Access screen
Author Colby Roberts 
-->
<link rel="stylesheet" href="../unauthorized-access/unauthorized-access.css">
<script type="text/javascript" src="../unauthorized-access/unauthorized-access.js"></script>

<div id="container">
        unauthorized access
</div>