<link rel="stylesheet" href="../session-expired/session-expired.css">
<script type="text/javascript" src="../session-expired/session-expired.js"></script>

<div id="container">
        session expired
</div>